Package: mosquitto
Version: 1.4.14-0mosquitto1~jessie1+moxa
Architecture: armhf
Maintainer: Roger A. Light <roger@atchoo.org>
Installed-Size: 346
Depends: adduser (>= 3.10), libuuid1 (>= 2.16), lsb-base (>= 4.1+Debian3), libc6 (>= 2.4), libssl1.0.0 (>= 1.0.1), libwebsockets3 (>= 1.2), libwrap0 (>= 7.6-4~)
Suggests: apparmor
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: http://mosquitto.org/
Description: MQTT version 3.1/3.1.1 compatible message broker
 This is a message broker that supports version 3.1 and 3.1.1 of the MQTT
 protocol.
 .
 MQTT provides a method of carrying out messaging using a publish/subscribe
 model. It is lightweight, both in terms of bandwidth usage and ease of
 implementation. This makes it particularly useful at the edge of the network
 where a sensor or other simple device may be implemented using an arduino for
 example.
